#top, #bottom, #left, #right {
	background: #323240;
	position: fixed;
	}

  #top, #bottom {
    height: 15px;
  }

	#left, #right {
		top: 0; bottom: 0;
		}
		#left { 
      left: 0;
      width: 250px; 
    }
		#right { 
      right: 0;
      width: 15px;
     }
		
	#top, #bottom {
		left: 0; right: 0;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

    #wrapper-info {
      list-style: none;
      line-height: 5px;
      font-family: 'namco regular';
      text-align: center;
      padding: 5px;
    }

    #wrapper-info li {
    margin-bottom: 30px;
    }

    /* #wrapper-info img {
      width: 150px;
    } */

    #wrapper-info #team-img{
      width: 195px;
    }

    #wrapper-info #team-name{
      font-size: 36px;
    }

   #wrapper-info .my-direction-wrapper, .horizontal img {
    width: 210px;
    margin-top: 50px;
   }

   /* #wrapper-info .my-direction-wrapper img .vertical {
    width: 200px;
   } */

    #music-button {
    background-color:  #5D5D7E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 2px 2px white;
    margin-top: 2rem;
    margin-left: 70px;
    }

    #my-turn {
      filter: drop-shadow(0 0 15px rgba(255, 255, 0, 0.5));
    }