#top, #bottom, #left, #right {
	background: #323240;
	position: fixed;
	}

  #top, #bottom {
    height: 15px;
  }

	#left, #right {
		top: 0; bottom: 0;
		}
		#left { 
      left: 0;
      width: 250px; 
    }
		#right { 
      right: 0;
      width: 15px;
     }
		
	#top, #bottom {
		left: 0; right: 0;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

    #wrapper-info {
      list-style: none;
      line-height: 20px;
      font-family: 'namco regular';
    }

    #wrapper-info li {
    margin-bottom: 30px;
    }

    #wrapper-info img {
      width: 150px;
    }

    button {
    background-color:  #5D5D7E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 2px 2px white;
    margin-top: 2rem;
    margin-left: 70px;
    }